/* Estilos gerais */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body .container {
    overflow: visible;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f0f0f0;
    height: 100vh;
    margin: 0;
}

#setor-filter {
    margin-bottom: 20px;
    padding: 10px;
    width: 100%;
    max-width: 200px;
}

.dropdown-menu {
    position: relative;
    display: inline-block;
    margin-left: 30px;
}

.dropbtn {
    background-color: #007bff; /* Cor de fundo azul */
    color: white; /* Cor do texto */
    border: none; /* Remove a borda padrão */
    padding: 12px 16px; /* Espaçamento interno */
    font-size: 16px; /* Tamanho da fonte */
    cursor: pointer; /* Muda o cursor para indicar que é clicável */
    border-radius: 5px; /* Arredonda os cantos */
    transition: background-color 0.3s, box-shadow 0.3s; /* Transições suaves para cor e sombra */
}

.dropbtn:hover {
    background-color: #0056b3; /* Cor de fundo azul escuro ao passar o mouse */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Adiciona sombra ao passar o mouse */
}

.dropdown-content {
    display: none; /* Oculta o menu inicialmente */
    position: absolute;
    background-color: #ffffff; /* Cor de fundo do menu */
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 5px; /* Arredonda os cantos do menu */
    z-index: 1;
}

.dropdown-content a {
    color: black; /* Cor do texto das opções */
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid #ddd; /* Linha divisória entre opções */
    transition: background-color 0.3s; /* Transição suave para a cor de fundo */
}

.dropdown-content a:hover {
    background-color: #f1f1f1; /* Cor de fundo ao passar o mouse */
}

/* Exibir o menu dropdown ao passar o mouse sobre o menu */
.dropdown-menu:hover .dropdown-content {
    display: block;
}

#reload-btn {
    background: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
    margin-right: 10px;
    transition: color 0.3s ease;
}

#reload-btn:hover {
    color: #007bff; /* Altere para a cor desejada */
}

.icon {
    display: flex;
    font-size: 25px; /* Ajuste o tamanho do ícone conforme necessário */
}

.container {
    transform: scale(0.68); /* Reduz o zoom para 80% */
    transform-origin: 0 0; /* Define o ponto de origem da transformação no canto superior esquerdo */
    display: flex;
    align-items: flex-start;
    position: center;
    width: 100%;
    margin-left: 5px;
    min-width: 2000px;
    height: auto;
}

.tree #gestao-link {
    position: relative;
}

/* Inicialmente oculta setores e funcionários */
.funcionarios, .coordenador-container {
    display: none; /* Oculta inicialmente */
}

/* Quando visível, exibe como flex */
.funcionarios, .coordenador-container {
    display: flex;
    flex-direction: column;
}

/* Setores que estão visíveis */
.node-link.setor.active + .funcionarios {
    display: flex;
}

.node-link.coordenador.active + .funcionarios {
    display: flex;
}

.simplifica-logo {
    position: absolute;
    display: flex;
    align-items: left;
}

.simplifica-logo img {
    width: 100px;
    height: auto;
    margin-left: 20px;
    margin-top: -15px;
}


.tree {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    white-space: nowrap;
}

.tree ul {
    padding-top: 15px;
    position: relative;
    display: flex;
    flex-direction: row;
    height: auto;
    white-space: nowrap;
    justify-content: center;
}

.tree li {
    display: inline-block;
    text-align: center;
    list-style-type: none;
    position: relative;
    padding-top: 8px;
    padding-right: 5px;
    padding-left: 10px;
    vertical-align: top;
    box-sizing: border-box;
}

.tree li::before,
.tree li::after {
    content: '';
    position: absolute;
    top: 0;
    border-top: 2px solid #ccc;
    width: 50%;
    height: 100px;
    z-index: -1;
}

.tree li::before {
    right: 50%;
    border-right: 1px solid #ccc;
    border-radius: 0 5px 0 0;
}

.tree li::after {
    left: 50%;
    border-left: 1px solid #ccc;
    border-radius: 5px 0 0 0;
}

.tree li:only-child::before,
.tree li:only-child::after {
    display: none;
}

.tree li:first-child::before {
    border: 0;
}

.tree li:last-child::after {
    border: 0;
}

.tree ul ul::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    border-left: 2px solid #ccc;
    width: 0;
    height: 16px;
    z-index: -1;
}

.node-link.setor:hover~.coordenadores .coordenador .gestao-estagiarios {
    background: #c8e4f8;
    color: #000;
    border: 1px solid #94a0b4;
}

.node-link.setor + .funcionarios {
    display: none; /* Certifica que setores estão inicialmente ocultos */
}

.node-link.funcionario + .sub-funcionarios {
    display: none; /* Certifica que funcionários estão inicialmente ocultos */
}

/* Garantir que a grid se comporte como esperado */
.funcionarios, .sub-funcionarios {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 colunas de igual tamanho */
    gap: 10px; /* Espaçamento entre os itens */
    width: 100%; /* Ocupa toda a largura disponível */
}

.funcionarios .tree-node, .sub-funcionarios .tree-node {
    min-width: 150px; /* Largura mínima */
    text-align: center; /* Centraliza o conteúdo */
}


.node-link-chefe {
    margin-top: -160px;
    margin-left: 55px;
    display: flex;
    position: absolute;
}

.tree-root-general {
    margin-top: -15px;
}

.tree-node.gestao::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 2px; /* Largura da linha */
    height: 500px; /* Altura total da seção */
    background-color: #ccc; /* Cor da linha */
    z-index: -1; /* Fica atrás dos outros elementos */
}

/* Garantir que a grid se comporte como esperado */
.funcionarios, .sub-funcionarios {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 colunas de igual tamanho */
    gap: 3px; /* Espaçamento entre os itens */
    width: 100%; /* Ocupa toda a largura disponível */
}

.coordenadores {
    display: flex;
    justify-content: center;
    gap: 20px;
    position: relative;
}

.coordenadores-setor {
    display: flex;
    justify-content: center;
    gap: 20px;
    position: relative;
}

.gestao-estagiarios {
    display: flex;
    gap: 10px;
    position: relative;
    margin-top: 10px;
}

.node-link-diretor {
    margin-left: -600px;
}

.tree-node-gestao-setor {
    margin-left: -10px;
}

.tree-root-gestao {
    margin-left: -600px;
}

.tree-root-diretor {
    display: none;
    position: relative;
}

#gestao-link:hover,
#gestao-link:hover~.coordenadores .node-link,
#gestao-link:hover~.coordenadores .node-link:hover,
#gestao-link:hover~.gestao-estagiarios .node-link,
#gestao-link:hover~.gestao-estagiarios .node-link:hover {
    background: #c8e4f8;
    color: #000;
    border: 1px solid #94a0b4;
}

.coordenadores:hover~.gestao-estagiarios .node-link,
.coordenadores:hover~.gestao-estagiarios .node-link:hover {
    background: #c8e4f8;
    color: #000;
    border: 1px solid #94a0b4;
}

.tree li a {
    border: 2px solid #ccc;
    padding: 10px;
    display: inline-flex;
    flex-direction: column;
    border-radius: 10px;
    text-decoration: none;
    background-color: #b7dcee;
    background: linear-gradient(to top, rgba(255, 255, 255, 0.734), rgb(114, 212, 247));
    transition: .5s;
    width: 140px;
    height: 185px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}


.tree li a .funcionarios {
        display: grid;
        grid-template-columns: repeat(4, 1fr); /* Cria 4 colunas de tamanho igual */
        gap: 10px; /* Espaçamento entre os itens */
        margin-left: 500px;
        margin-top: 10px; /* Espaçamento superior opcional */
        min-width: 150px; /* Largura mínima para os itens */
        box-sizing: border-box;
}

.tree li a img {
    width: 70px;
    height: 70px;
    margin-bottom: 12px !important;
    border-radius: 30%;
    margin: auto;
}

.setor-filtrado {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; /* Permite que o setor ocupe toda a largura disponível */
    padding: 20px; /* Adiciona espaçamento interno ao redor do setor */
}

.setor-filtrado .funcionarios,
.setor-filtrado .coordenadores {
    display: flex;
    flex-wrap: wrap; /* Permite que os funcionários/coordenadores se movam para a próxima linha se necessário */
    justify-content: center; /* Centraliza horizontalmente os filhos */
    margin-top: 20px; /* Espaçamento entre o setor e seus filhos */
    gap: 10px; /* Espaçamento entre funcionários/coordenadores */
}

.setor-filtrado .funcionarios .tree-node,
.setor-filtrado .coordenadores .tree-node {
    flex: 1 1 200px; /* Cada funcionário/coordenador ocupará pelo menos 200px e se ajustará conforme o espaço disponível */
    text-align: center;
}

.tree li a span {
    border: 1px solid #5f646e;
    border-radius: 5px;
    color: #000000;
    padding: 8px;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-wrap: break-word;
    height: auto;
}

.tree li a p {
    padding-top: -5px;
    padding-bottom: 3px;
    font-size: 11px;
    font-weight: 500;
    height: auto;
}

.tree li a:hover,
.tree li a:hover i,
.tree li a:hover span,
.tree li a:hover+ul li a {
    background-color: #ccc;
    background: linear-gradient(to top, rgba(77, 196, 232, 0.656), rgb(84, 153, 179));
    color: #5100ff;
    border: 1px solid #4b4e55;
}

.tree li a:hover+ul li::after,
.tree li a:hover+ul li::before,
.tree li a:hover+ul::before,
.tree li a:hover+ul ul::before {
    border-color: #5f646e;
}

.node-link.setor:hover~.coordenadores .coordenador .gestao-estagiarios {
    background: rgb(108, 195, 222);
    color: #000;
    border: 1px solid #5f646e;
}

.menu {
    position: fixed;
    width: 100%;
    height: 90px;
    top: 0;
    background: linear-gradient(to top, rgba(88, 204, 239, 0.512), rgb(114, 212, 247));
    background-color: rgb(122, 165, 181);
    display: flex;
    z-index: 1000;
}

.menu ul {
    list-style: none;
    display: flex;
    margin-left: 130px;
    padding: 0;
}

.menu-item {
    position: relative;
}

.tree-node-matutino .tree-node-vespertino .parceiro-setor .tree-node-matutino .parceiro-setor .tree-node-vespertino {
    position: relative;
    display: flex;
    margin-top: 15px;
    margin-right: -10px;
}


.tree-node-matutino .node-link {
    background-color: #40d487; /* Azul claro para matutino */
    border-color: #057709;
    display: flex;
    position: relative;
}

.tree-node-vespertino .node-link {
    background-color: #f1c40f; /* Amarelo para vespertino */
    border-color: #f3d912;
    display: flex;
    position: relative;
}

.menu-item>a {
    color: #000000;
    text-decoration: none;
    font-size: 20px;
    padding: 30px;
    display: block;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.menu-item>a:hover {
    background-color: #5388c0;
}

.menu-item ul {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgb(28, 139, 172);
    min-width: 200px;
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-item:hover ul {
    display: block;
}

.menu-item ul li {
    margin: 0;
}

.menu-item ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    padding: 15px;
    display: block;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.node-label-turno  {
    color: black;
    margin-top: -5px;
}

.node-label-turno  p{
    font-size: 2px;
}

.menu-item ul li a:hover {
    background-color: #004d80;
}

.titulo-page {
    margin-top: 100px;
    margin-left: 20px;
}

#mostrar-tudo {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 20px;
}

#mostrar-tudo:hover {
    background-color: #0056b3;
}


.parceiro-setor .node-link {
    background: linear-gradient(to top, rgba(160, 153, 153, 0.734), rgb(251, 251, 251));
    border: 1px solid #06050553; /* Cor da borda */
    color: #000; /* Cor do texto */
}

.parceiro-setor .tree-node-matutino .node-link {
    background: linear-gradient(to top, rgba(255, 255, 255, 0.734), rgb(114, 212, 247));
    background-color: #40d487; /* Azul claro para matutino */
    border-color: #057709;
    display: flex;
    position: relative;
}

.parceiro-setor .tree-node-vespertino .node-link {
    background: linear-gradient(to top, rgba(255, 255, 255, 0.734), rgb(114, 212, 247));
    background-color: #f1c40f; /* Amarelo para vespertino */
    border-color: #f3d912;
    display: flex;
    position: relative;
}

.parceiro-setor .node-link:hover .node-label:hover {
    background-color: rgb(255, 255, 255); /* Cor de fundo ao passar o mouse */
    border-color: #0a05005e; /* Cor da borda ao passar o mouse */
}

/* Para alterar a borda envolta do nome */
.parceiro-setor .node-label {
    border: 2px solid rgba(0, 0, 0, 0.232); /* Exemplo de cor da borda */
    padding: 8px;
    border-radius: 5px;
}
