/* Estilos gerais */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f0f0f0;
    overflow-x: scroll;
    overflow-y: scroll;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.tree {
    display: flex;
    flex-direction: column;
    align-items: center;
    white-space: nowrap;
}

/* Estilo das linhas de conexão dos itens */
.tree ul {
    padding-top: 10px;
    position: relative;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    height: auto;
    max-height: 100%;
    white-space: nowrap;
}

.tree li {
    display: inline-block;
    text-align: center;
    list-style-type: none;
    position: relative;
    padding: 10px;
    vertical-align: top;
    box-sizing: border-box;
}

/* Ajuste o estilo das linhas de conexão dos itens */
.tree li::before,
.tree li::after {
    content: '';
    position: absolute;
    top: 0;
    border-top: 2px solid #ccc;
    width: 50%;
    /* Ajustar a largura conforme necessário */
    height: 10px;
    /* Ajustar a altura conforme necessário */
    z-index: -1;
    /* Para garantir que as linhas fiquem atrás dos itens */
}

.tree li::before {
    right: 50%;
    border-right: 1px solid #ccc;
    border-radius: 0 5px 0 0;
}

.tree li::after {
    left: 50%;
    border-left: 1px solid #ccc;
    border-radius: 5px 0 0 0;
}

.tree li:only-child::before,
.tree li:only-child::after {
    display: none;
}

.tree li:first-child::before {
    border: 0;
}

.tree li:last-child::after {
    border: 0;
}

.tree ul ul::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    border-left: 2px solid #ccc;
    width: 0;
    height: 20px;
    /* Ajustar a altura conforme necessário */
    z-index: -1;
    /* Para garantir que a linha fique atrás dos itens */
}

/* Ajuste a posição das linhas de conexão */
.tree-node {
    position: relative;
    display: flex;
    margin-top: 10px;
    margin-right: -10px;
}

/* Linhas de conexão dos coordenadores */
.coordenadores {
    display: flex;
    justify-content: center;
    gap: 20px;
    /* Ajuste o espaço entre as caixas dos coordenadores */
    margin-top: 20px;
    /* Ajuste a margem superior para controlar o espaço entre os coordenadores e o nível acima */
    position: relative;
}

.gestao-estagiarios {
    display: flex;
    gap: 10px;
    position: relative;
    margin-top: 20px;
    /* Ajuste o espaçamento entre a coordenação e os estagiários */
}

/* Ajustar o estilo das caixas */
.tree li a {
    border: 2px solid #ccc;
    padding: 10px;
    display: inline-flex;
    flex-direction: column;
    border-radius: 5px;
    text-decoration: none;
    background: #fff;
    transition: .5s;
    width: 150px;
    /* Ajuste a largura conforme necessário */
    height: 120px;
    /* Ajuste a altura conforme necessário */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}

.tree li a img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px !important;
    border-radius: 50%;
    margin: auto;
}

.tree li a span {
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #666;
    padding: 8px;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-wrap: break-word;
    height: auto;
}

/* Hover Section */
.tree li a:hover,
.tree li a:hover i,
.tree li a:hover span,
.tree li a:hover+ul li a {
    background: #c8e4f8;
    color: #000;
    border: 1px solid #94a0b4;
}

.tree li a:hover+ul li::after,
.tree li a:hover+ul li::before,
.tree li a:hover+ul::before,
.tree li a:hover+ul ul::before {
    border-color: #94a0b4;
}

.node-link.setor:hover~.coordenadores .coordenador .gestao-estagiarios {
    background: #c8e4f8;
    color: #000;
    border: 1px solid #94a0b4;
}

/* Lista de funcionários */
.funcionarios {
    display: none;
    padding-top: 10px;
    flex-direction: row;
    gap: 5px;
}

/* Menu */
.menu {
    position: fixed;
    width: 100%;
    height: 90px;
    background-color: rgb(28, 139, 172);
    display: flex;
    z-index: 1000;
}

.menu ul {
    list-style: none;
    display: flex;
    margin-left: 130px;
    padding: 0;
}

.menu-item {
    position: relative;
}

.menu-item>a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    padding: 30px;
    display: block;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.menu-item>a:hover {
    background-color: #0056b3;
}

.menu-item ul {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgb(28, 139, 172);
    min-width: 200px;
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-item:hover ul {
    display: block;
}

.menu-item ul li {
    margin: 0;
}

.menu-item ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    padding: 15px;
    display: block;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.menu-item ul li a:hover {
    background-color: #004d80;
}